---
import { MENUS } from "../config";
import { Icon } from "astro-icon/components";
---

<div class="flex flex-row gap-4 items-center">
  {
    MENUS.map((item) => (
      <a
        href={item.link}
        target={item.target}
        class="h-full mx-0 md:mx-4 text-sm text-slate-400 hover:text-slate-100 flex items-center gap-2"
      >
        {item.icon && (
          <span>
            <Icon name={item.icon} width={16} height={16} class="text-slate-400" />
          </span>
        )}
        {/* // hide title in mobile if icon exists */}
        <span class={item.icon ? "hidden md:block" : ""}>{item.title}</span>
      </a>
    ))
  }
  <slot />
</div>
