---
const props = Astro.props;
---

<a
  {...props}
  href={props.href}
  class="text-blue-200 after:content-['_↗'] after:text-sm hover:after:text-blue-300 hover:text-blue-300"
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
